.stats{
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: space-around;
    width: 100%;
    background: #f3f6f9;
    border-top: #8fcedd 1px solid;

}

.item{
    border-right: #8fcedd 1px solid;
    flex-basis: 33%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;

}


.stats .item:last-child{
    border-right: none;
}

.label, .quantity{
    margin: 0;
}
.label{
    margin-bottom: 5px;
}
